<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Detalle producto</title>
        <link rel="icon" href="images/LOGO-1.png"/>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

        <!-- ===== Fontawesome CDN Link ===== -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
            
        <link href="css/barra_busqueda.css" rel="stylesheet"/>
        <link href="css/producto.css" rel="stylesheet" />
        <link href="css/carrusel.css" rel="stylesheet" />

    </head>
    <body>

        <!-- Navigation-->
        <%- include("header") %>

        <div id="ctn-bars-search">
            <input type="text" id="inputSearch" placeholder="¿Qué estás buscando?"> </input>
        </div>
        <ul id="box-search">
        <% result.forEach(function(item) { if(item.quantity>0){%>
    
            <li><a href="/ver_producto?id=<%= item.id %>" data-product-id="<%= item.id %>"><i class="fas fa-search"></i>
            <%= item.name %></a>
            </li>
        <% }}) %>
        </ul>  
        
    
    <div id="cover-ctn-search"></div>
        
        <% result.forEach(function(item) { %>
            <% if(item.id == id_producto){ %>

        <!-- Product section-->
                <div class="box row gx-4 gx-lg-5 align-items-center" style=" box-shadow: 0 5px 20px rgba(0, 0, 0, .3); background: #f7f6f9; border-radius: 10px; margin-top: 100px;">
                    <div class="col-md-6" ><img style="border-radius: 10px; box-shadow: 0 5px 20px rgba(0, 0, 0, .3); width: 100%;" class="card-img-top mb-5 mb-md-0" src="images/<%= item.image %>" alt="..." /></div>
                    <div class="col-md-6">
                        <h2 class="display-5 fw-bolder" style="margin-left: 6%;"><%= item.name %></h2>
                        <div style="margin-left: 6%;" class="small mb-1">SKU: <%= item.id %></div>
                        <div class="fs-5 mb-5">
                            <% if(item.sale_price){ %>
                            <span>$<%= item.sale_price %></span>
                            <span style="font-size: 10px; margin-right: 10000px; margin-top: 20px;" class="text-decoration-line-through">$<%= item.price %></span>
                            <% }else{ %>
                                <span>$<%= item.price %></span>
                            <% } %>
                        </div>
                        <p class="lead" style="color: black; margin-left: 6%; margin-top: -5%; margin-bottom: 10%;"><%= item.description %></p>
                        <div class="d-flex" style="margin: 0; position: relative;">
                            <form action="/add_to_cart" method="post">
                                <input type="hidden" name="id" value="<%= item.id %>">
                                <input id="name" type="hidden" name="name" value="<%= item.name %>">
                                <input type="hidden" name="price" value="<%= item.price %>">
                                <input type="hidden" name="sale_price" value="<%= item.sale_price %>">
                                <input type="hidden" name="quantity" value="1">
                                <input type="hidden" name="image" value="<%= item.image %>">
                                <button type="submit">Añadir al carrito</button>
                            </form>
                        </div>
                    </div>
                </div>

        <% }%>
        <% }) %>
    

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Productos relacionados</h2>
        <div id="related-products-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <% for(let i = 0; i < 10; i += 4) { %>
                    <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                        <div class="row">
                            <% for(let j = 0; j < 4; j++) { %>
                                <% if(result[i + j] && result[i + j].id != id_producto) { %>
                                    <div class="col mb-5">
                                        <div class="card h-100">
                                        <!-- Sale badge-->
                                        <div class="badge bg-dark text-white position-absolute top-0 start-0">Sale</div>
                                        <!-- Product image-->
                                        <img class="card-img-top" style="margin-left: -12px;" width="100" height="200" src="images/<%= result[i + j].image %>" alt="..." />
                                        <!-- Product details-->
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder"><%= result[i + j].name %></h5>
                                                <!-- Product reviews-->
                                                <div class="d-flex justify-content-center small text-warning mb-2">
                                                    <div class="bi-star-fill"></div>
                                                    <div class="bi-star-fill"></div>
                                                    <div class="bi-star-fill"></div>
                                                    <div class="bi-star-fill"></div>
                                                    <div class="bi-star-fill"></div>
                                                </div>
                                                <!-- Product price-->
                                                <% if(result[i + j].sale_price){ %>
                                                    <span class="text-decoration-line-through">$<%= result[i + j].price %></span>
                                                    <span>$<%= result[i + j].sale_price %></span>
                                                <% } else { %>
                                                    <span>$<%= result[i + j].price %></span>
                                                <% } %>
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <form action="/add_to_cart" method="post">
                                                <input type="hidden" name="id" value="<%= result[i + j].id %>">
                                                <input id="name" type="hidden" name="name" value="<%= result[i + j].name %>">
                                                <input type="hidden" name="price" value="<%= result[i + j].price %>">
                                                <input type="hidden" name="sale_price" value="<%= result[i + j].sale_price %>">
                                                <input type="hidden" name="quantity" value="1">
                                                <input type="hidden" name="image" value="<%= result[i + j].image %>">
                                                <input type="submit" value="Añadir al carrito" class="btn btn-outline-dark mt-auto">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>
            <div style="display: flex; justify-content: space-between; margin-top: -3%;">
                <button type="button" data-bs-target="#related-products-carousel" data-bs-slide="prev">
                <span style="color: black;">Anterior</span>
                </button>
                <button type="button" data-bs-target="#related-products-carousel" data-bs-slide="next">
                <span style="color: black;">Siguiente</span>
                </button>
            </div>
            
        </div>
    </div>
</section>

<main class="main">
    <section>
    <div class="swiper mySwiper container">
        <div class="swiper-wrapper content">
            <% result.forEach(function(item) { %>
                    <div class="swiper-slide card">
                        <div class="card-content">
                        <div class="image">
                        <img src="images/<%=item.image%>" alt=""> 
                        </div>
            
                        <div class="media-icons">
                            <i class="fab fa-facebook"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-github"></i>
                        </div>
            
                        <div class="name-profession">
                            <span class="name"><%=item.name%></span>
                            <span class="profession">$<%=item.price.toLocaleString() %></span>
                        </div>
            
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
            
                        <div class="button">
                            <button class="aboutMe">About Me</button>
                            <button class="hireMe">Hire Me</button>
                            </div>
                        </div>
                        </div>
                        <%})%>
        </div>
    </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    
</section>
</main>







        <!-- Footer-->
        <%- include("footer") %>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

            <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 30,
        slidesPerGroup: 3,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
        el: ".swiper-pagination",
        clickable: true,
        },
        navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
        },
    });
    </script>
        <script>
            // Obtener todos los elementos con la clase "product-name"
            var productNames = document.getElementsByClassName("product-name");
        
            // Agregar un controlador de eventos de clic a cada elemento
            for (var i = 0; i < productNames.length; i++) {
                productNames[i].addEventListener("click", function() {
                // Obtener el ID del producto desde el atributo "data-product-id"
                var productId = this.getAttribute("data-product-id");
    
            // Redirigir al usuario al detalle del producto
            window.location.href = "/ver_producto?id=" + productId;
            });
            }
        </script> 

        <script>
            // Obtener todos los elementos de enlace de la lista
            const links = document.querySelectorAll('#box-search a');
        
            // Función que se ejecutará cuando se haga clic en un enlace
            const handleClick = (event) => {
              event.preventDefault(); // Prevenir el comportamiento predeterminado del enlace
        
              const productId = event.currentTarget.getAttribute('data-product-id'); // Obtener el ID del producto
        
              // Crear un formulario oculto
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '/view_product';
        
              // Crear un campo de entrada oculto para enviar el ID del producto
            const productIdInput = document.createElement('input');
            productIdInput.type = 'hidden';
            productIdInput.name = 'id';
            productIdInput.value = productId;
        
              // Agregar el campo de entrada al formulario
            form.appendChild(productIdInput);
        
              // Agregar el formulario al documento y enviarlo
            document.body.appendChild(form);
            form.submit();
            };
        
            // Agregar el evento de clic a cada enlace de la lista
            links.forEach(link => {
            link.addEventListener('click', handleClick);
            });
        </script>

        <script src="js/scripts.js"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>