<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Editar perfil usuario</title>
        <link rel="icon" href="images/LOGO-1.png"/>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/perfil.css" rel="stylesheet" />
        <link href="css/login.css" rel="stylesheet" />
    </head>
    <body>

        <!-- Navigation-->
        <%- include("header") %>
      
        <header style="justify-content: center;"> 
          <div class="alert alert-info alert-dismissable" style="margin-top: 1%;">
            <a class="panel-close close" data-dismiss="alert">×</a> 
            <i class="fas fa-exclamation-triangle"></i>
            Verifica cuidadosamente los <strong>cambios</strong> antes de <strong>guardar</strong>, ya que esto puede afectar tu información.
          </div>
        </header>
                
        <div class="body-profile">
        <form class="cuerpo" action="edit_profile" method="post" enctype="multipart/form-data" role="form">
          <h2 style="margin-bottom: 1%;">Editar perfil</h2>

          <div class="container-input" style="margin-bottom: -4%;">
            <label for="first-name">Primer nombre:</label>
            <div class="input-container">
              <span><i class="fa fa-user-circle"></i></span>
              <input type="text" id="first-name" name="primer_nombre" value="<%= result[0].primer_nombre %>" required>
            </div>
          
            <label for="last-name">Segundo nombre:</label>
            <div class="input-container">
              <span><i class="fa fa-user-circle"></i></span>
            <input type="text" id="last-name" name="segundo_nombre" value="<%= result[0].segundo_nombre %>" required><br><br>
            </div>
            
            <label for="first-name">Primer apellido:</label>
            <div class="input-container">
              <span><i class="fa fa-user-circle"></i></span>
              <input type="text" id="first-name" name="primer_apellido" value="<%= result[0].primer_apellido %>" required>
            </div>
            
            <label for="last-name">Segundo apellido:</label>
            <div class="input-container">
              <span><i class="fa fa-user-circle"></i></span>
              <input type="text" id="last-name" name="segundo_apellido" value="<%= result[0].segundo_apellido %>" required><br><br>
            </div>
            
            <label for="field1">Email:</label>
            <div class="input-container">
              <span><i class="fa fa-user-circle"></i></span>
            <input type="mail" id="field1" name="email" value="<%= result[0].email %>" required>
            </div>
            
            <label for="field2">Dirección:</label>
            <div class="input-container">
              <span><i class="fa fa-user-circle"></i></span>
              <input type="text" id="field2" name="direccion" value="<%= result[0].direccion %>" required><br><br>
            </div>
          
            <label for="field4">Contraseña:</label>
            <div class="input-container">
              <span><i class="fa fa-key"></i></span>
              <input type="password" id="field4" name="password" value="<%= result[0].password %>" required>
            </div>
            
            <label for="field3">Receta:</label>
            <div class="input-container" style="left: 10%;">
              <input type="file" id="field3" name="file" required><br><br>
            </div>
        </div>
      
          <div class="container-botones" style="margin-top: -1%; margin-bottom: -5%;">
            <button class="btn login-boton" type="submit">Guardar Cambios</button> 
            <button class="btn login-boton" type="reset" onclick="">Cancelar</button>
          </div>
        </form>
      </div>
        <!-- Footer-->
        <%- include("footer") %>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>
          $(document).ready(function() {
            $(".panel-close").click(function() {
            $(this).closest(".alert").fadeOut();
            });
          });
        </script>

        <script src="js/script.js"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>